# -----------------------------------------------------
# 当前项目中的特殊设置
# -----------------------------------------------------
.vscode/
*.pyc

# -----------------------------------------------------
# MacOSX系统中需忽略的文件
# -----------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride